* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Special Elite", cursive;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  position: relative;
  line-height: 1.5;
  min-height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.ibb.co/mGqnMN6/greta3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#quote-box {
  display: flex;
  flex-direction: column;
}

.quotable-square {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35vw;
  height: 35vw;
  margin: auto;
  background-color: white;
  opacity: 0.85;
  border-radius: 18px;
  padding: 3em;
}

.content {
  font-size: 1.8vw;
}

.author {
  font-size: 1.5vw;
  text-align: right;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button {
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.new-quote {
  background-color: #262626;
  border: none;
  color: white;
}

.tweet-quote {
  border: 2px solid #262626;
  background-color: white;
  color: #262626;
}

.fab {
  margin: 0 8px 0 0;
}

footer {
  font-size: small;
  color: #fff;
  background-color: #262626;
  display: flex;
  width: 100vw;
  height: 3rem;
}

.footer-options {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 20px;
  align-items: center;
}

.footer-link {
  padding: 0 20px;
}

.footer-linktext {
  color: #fff;
}

footer span {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
}

@media (max-width: 600px) {
  .quotable-square {
    width: 80vw;
    height: 80vw;
  }

  .content {
    font-size: 4vw;
  }

  .author {
    font-size: 3.2vw;
  }

  footer {
    flex-wrap: wrap;
    height: 4rem;
  }

  .footer-options {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0;
    align-items: center;
  }

  footer span {
    width: 100vw;
    flex-direction: column;
    text-align: center;
    align-self: flex-start;
  }
}

.loading-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: white; */
  overflow: hidden;
  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

.loader-dzg {
  filter: saturate(3);
  width: 0.1px;
  height: 0.1px;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 3s ease-in infinite, spin 1s linear infinite;
}

.loader-dzg::before {
  filter: saturate(0.3);
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -40px;
  margin-top: -40px;
  content: "";
  height: 0.1;
  width: 0.1;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 2s ease-in infinite reverse,
    spin 0.8s linear infinite reverse;
}

.loader-dzg::after {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -10px;
  margin-top: -10px;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #fff;
}

@keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 450px) {
  #quote-box {
    width: 100%;
  }
}
